.App{
    background-image: url("https://cdn.prod.website-files.com/62f41dee5606d80f65b7dcbb/66941bdc3dc19067eace313c_statutepng-p-500.webp");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   /* height: 100vh; */
   display: flex;
   align-items: center;
   justify-content: center;
}

.plus-icon {
  position: fixed;
  top: 5px;
  right: 20px;
  background-color: rgba(128, 128, 128, 0.902);
  color: white;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.plus-icon:hover {
  background-color: rgba(169, 169, 169, 0.244)
}
